
/*genaral styles*/
:root {
  --main-blue: #00bafc;
  --main-black: #191919;
  --main-white: #ffffff;
  scroll-behavior: smooth;
}
.body {
  margin: 0;
  margin-top: 56px;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  box-sizing: border-box;
  background-color: #2980B9;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 24px;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.main-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: var(--main-white);
  background-color: var(--main-blue);
  border-radius: 5px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}
  .main-button:hover {
    opacity: 0.8;
  }
  .main-button:active {
    opacity: 0.6;
  }
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* ======================= */
.cinema1 {
	position: relative;
	width: 270px;
	height: auto;
	z-index: 50;
}
.cinema12 {
	position: relative;
	width: 270px;
	height: auto;
	z-index: 50;
}
.cinema1__img {
	position: absolute;
	z-index: 10;
	display: block;
  box-shadow: 0 30px 15px -10px rgba(0, 0, 0, 0.5);
  transform: translateX(200%);
}
.cinema1__img2 {
	position: absolute;
	z-index: 10;
	display: block;
	box-shadow: 0 30px 15px -10px rgba(0, 0, 0, 0.5);
}
	.cinema1:hover .cinema1__subject {
		transform: translateX(-50%) scale(1);
  }
  .cinema12:hover .cinema1__subject2 {
		transform: translateX(110%) scale(1);
	}
.cinema1__subject {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 43%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 270px;
	min-height: 545px;
	background-color: #ffffff;
	border-radius: 5px;
	transform: translateX(-50%) scale(0);
	transform-origin: center top;
	overflow: hidden;
	box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.4);
}
.cinema1__subject2 {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 53%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 270px;
	min-height: 545px;
	background-color: #ffffff;
	border-radius: 5px;
	transform: translateX(-50%) scale(0);
	transform-origin: center top;
	overflow: hidden;
	box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.4);
}

.cinema1__heading1 {
  margin: 0;
  margin-top: 25px;
	color: #333333;
	text-transform: uppercase;
}
.cinema1__heading {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
	color: #333333;
	text-transform: uppercase;
}
.cinema1__title {

	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 15px;
	text-align: center;
	color: #a4a4a4;
}
.prices {
	color: #52CD70;
	font-size: 28px;
	font-weight: 500;
}
.praces2 {
	margin-bottom: 25px;
	font-weight: 500;
  color: #abaaaaff;
  text-decoration: line-through;
}
.narx {
  margin-bottom: 25px;
  color: #abaaaaff;
  text-decoration: line-through;
}
.cinema1__link {
	display: block;
	width: 100%;
	padding: 15px 0;
	font-weight: 700;
	text-align: center;
	color: #FFFFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #2F2F2F;
	transition: background-color 0.3s ease;
}
.cinema1__link:hover {
  opacity: 0.8;
}
.cinema1__link:hover {
  opacity: 0.6;
}